	html{ 

		height: 100%;}

	*{ 
		margin: 0;
  		padding: 0;}

	body{ 
		background: #ffffff url("img_tree.png") no-repeat right top;
    		margin-right: 200px;
		font: normal 80% Arial, Helvetica, sans-serif;
  		background: #ccc;
  		color: #000;}

	p{ 
		padding: 0 0 10px 0;
  		color: #1D1D1D;
  		line-height: 1.7em;
 		font-size: 100% }

	img{ 
		border: 0;}

	h1, h2, h3, h4, h5, h6 { 
		font: normal 175% Arial, Helvetica, sans-serif;
		color: #1D1D1D;
  		text-shadow: 1px 1px #fff;
		letter-spacing: -1px;
  		margin: 0 0 10px 0;}

	h2{ 
		font: normal 165% Arial, Helvetica, sans-serif;}

	h3{ 
		font: normal 130% Arial, Helvetica, sans-serif;}

	h4, h5, h6{ 
		margin: 0;
  		padding: 0 0 0px 0;
  		font: normal 150% Arial, Helvetica, sans-serif;
  		color: #FFF;
  		line-height: 1.5em;}

	h5, h6{ 
		font: normal 95% Arial, Helvetica, sans-serif;
  		color: #888;
  		padding-bottom: 15px;}

	a, a:hover{ 
		color: #1D1D1D;
  		background: transparent;
  		outline: none;
  		text-decoration: none;}

	a:hover{ 
		text-decoration: underline;}

	ul{ 		
		margin: 2px 0 22px 30px;
  		line-height: 1.7em;
  		font-style: normal;
  		font-size: 100%;
		z-index:-1;}


	ol{ 
		margin: 8px 0 22px 20px;}

	ol li{ 
		margin: 0 0 11px 0;
		z-index:-1;}
		

	#main, #header, #banner, #menubar, #site_content, #footer, #content_grey{ 
		margin-left: auto; 
  		margin-right: auto;}
	#main{ 		
		background: transparent;}
 
	#header{ 
		width: 920px;
  		height: 120px;
  		background: transparent;}

	#banner{ 
		width: 920px;
  		position: relative;
  		height: 50px;
  		padding: 15px 0 0 0;
  		background: transparent;}

	#menubar{ 
		width: 920px;
  		height: 50px;
		text-align: center; 
  		margin: 0 auto;
  		background: #1D1D1D;
		background: -moz-linear-gradient(#535353, #1d1d1d);
  		background: -o-linear-gradient(#535353, #1d1d1d);
  		background: -webkit-linear-gradient(#535353, #1d1d1d);
  		border-radius: 15px 15px 15px 15px;
  		-moz-border-radius: 15px 15px 15px 15px;
  		-webkit-border: 15px 15px 15px 15px;
  		-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  		-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  		box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px; } 

	#welcome{ 
		width: 500px;
  		height: 50px;
  		padding-left: 0px;
  		background-color:transparent; } 

	#welcome_slogan{
		width: 300px;
  		float: left;
  		height: 50px;
  		margin: 0 auto;
  		padding-left: 20px;
  		background-color:transparent;}   

	#backgroundimg{
 		position:absolute;
 		top:0;
  		right:0;
  		float:left;
  		width: 700px;
  		margin: 0 auto;
  		padding-left: 20px;}

	#welcome H1{ 
		font: normal 300% Arial, Helvetica, sans-serif;
  		letter-spacing: -3px;
  		text-shadow: 1px 1px #fff;
 	 	color: #1D1D1D;}

	#welcome_slogan H1{
 		font: normal 200% Arial, Helvetica, sans-serif;
  		letter-spacing: -2px;
  		text-shadow: 1px 1px #fff;
  		color: #535353;}  
 
	ul#menu{ 
		margin:0;}
		
	ul#menu li{
		padding: 0 0 0 0px;
  		list-style: none;
  		margin: 2px 0 0 0;
  		display: inline;
  		background: transparent;}

	ul#menu li a{ 
		float: left;
		font: bold 120% Arial, Helvetica, sans-serif;
  		height: 24px;
  		margin: 10px 0 0 20px;
  		text-shadow: 0px -1px 0px #000;
 		padding: 6px 20px 0 20px;
  		background: transparent; 
  		border-radius: 7px 7px 7px 7px;
  		-moz-border-radius: 7px 7px 7px 7px;
  		-webkit-border: 7px 7px 7px 7px;
  		text-align: center;
  		color: #FFF;
		text-decoration: none;} 

	ul#menu li.current a{ 
		margin-left:300px;
		margin-right:0px;
		color: #1D1D1D;
  		background: #FFF;
  		background: -moz-linear-gradient(#fff, #ccc);
  		background: -o-linear-gradient(#fff, #ccc);
  		background: -webkit-linear-gradient(#fff, #ccc);
  		text-shadow: none;}

	ul#menu li:hover a{ 
		color: #1D1D1D;
  		background: #FFF;
 		background: -moz-linear-gradient(#fff, #ccc);
  		background: -o-linear-gradient(#fff, #ccc);
  		background: -webkit-linear-gradient(#fff, #ccc);
  		text-shadow: none;}

	#content_grey{ 
		width: 920px;
  		height:20px;
  		text-align: center; 
  		background: #1D1D1D;
  		background: -moz-linear-gradient(#535353, #1d1d1d);
  		background: -o-linear-gradient(#535353, #1d1d1d);
  		background: -webkit-linear-gradient(#535353, #1d1d1d);
  		border-radius: 15px 15px 15px 15px;
  		-moz-border-radius: 15px 15px 15px 15px;
  		-webkit-border: 15px 15px 15px 15px;
  		-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  		-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  		box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;} 

	#content_grey p{ 
		color: #FFF;}  


	#content_grey h4{ 
		text-shadow: none;}

	.content_grey_container_box{ 
		width: 270px;
  		padding: 5px;
  		text-align: center;
  		margin: 20px 10px 10px 10px;
  		float: left;}

	.content_grey_container_boxl{
		 width: 270px;
  		padding: 5px;
  		text-align: center;
 		 margin: 20px 0 10px 10px;
  		float: left;}

	#footer{ 
		width: 920px;
  		height: 20px;
  		padding-top: 20px;
  		text-align: center; 
  		background: transparent;
  		text-shadow: 1px 1px #fff;
 		color: #535353;}

	#footer a, #footer a:hover{ 
		color: #535353;
  		text-decoration: none;
  		padding-bottom: 20px;}

	#footer a:hover{ 
		text-decoration: underline;}

	#footer a, #footer a:hover{ 
		color: #535353;
	  	text-decoration: none;}

	#footer a:hover{
		text-decoration: underline;}
  
	.readmore{ 
		font: bold 110% Arial, Helvetica, sans-serif;
  		height: 15px;
  		width: 80px;
  		margin-left: 95px;
  		padding: 5px 2px 7px 2px;
  		background: #fff;
  		background: -moz-linear-gradient(#fff, #ccc);
  		background: -o-linear-gradient(#fff, #ccc);
 		background: -webkit-linear-gradient(#fff, #ccc);
  		border-radius: 15px 15px 15px 15px;
  		-moz-border-radius: 15px 15px 15px 15px;
  		-webkit-border: 15px 15px 15px 15px;
  		-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  		-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  		box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}

 	.readmore a{ 
		color: #1D1D1D;}

	/* styling for the slideshow on the homepage */

	ul.slideshow {

  		list-style: none;
  		width: 680px;
  		height: 110px;
  		overflow: hidden;
  		position: relative;
 		margin: 0;
  		margin-top: 0px;
  		-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  		-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
		 box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}

	table,th,td{
		text-align:center;
		width: 680px;
                height: 40px;
		font-size:20px;
		border-collapse:collapse;
		border:1px solid black;
		margin-left:auto;
		margin-right:auto;} 

	tr:hover td{
		background-color:orange;}
